<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div class="formgrid grid">
    <div class="field col-12">
      <label for="amount">Сумма вклада</label>
      <p-inputNumber
        id="amount"
        formControlName="amount"
        mode="currency" 
        currency="RUB"
        class="w-full"
        styleClass="w-full"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="field col-12">
      <label for="time">Срок вклада (в годах)</label>
      <p-inputNumber
        id="time"
        formControlName="time"
        class="w-full"
        styleClass="w-full"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="field col-12">
      <label for="percent">Процент</label>
      <p-inputNumber
        id="percent"
        formControlName="percent"
        class="w-full"
        styleClass="w-full"
        suffix="%"
        [min]="0"
        [max]="100"
      ></p-inputNumber>
    </div>

    <div class="field col-12">
      <p-checkbox
        formControlName="reinvest"
        label="Реинвестировать процент"
        [binary]="true"
      ></p-checkbox>
    </div>

    @if (form.value.reinvest) {
      <div class="field col-12">
        <label for="percentFrequency">Период реинвестирования (выплаты процентов)</label>
        <p-dropdown
          id="percentFrequency"
          formControlName="percentFrequency"
          styleClass="w-full"
          [options]="percentFrequency"
        ></p-dropdown>
      </div>
    }

    <p-button
      type="submit"
      label="Просчитать"
      class="col-12"
      [disabled]="!form.valid"
    ></p-button>
  </div>
</form>