<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div class="formgrid grid">
    <div class="field col">
      <label for="amount">Сумма вклада</label>
      <p-inputNumber
        id="amount"
        formControlName="amount"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="field col">
      <label for="time">Время вклада</label>
      <p-inputNumber
        id="time"
        formControlName="time"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="field col">
      <label for="percent">Процент</label>
      <p-inputNumber
        id="percent"
        formControlName="percent"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        [min]="0"
        [max]="100"
      ></p-inputNumber>
    </div>

    <p-button
      type="submit"
      label="Просчитать"
      class="col-12"
      [disabled]="!form.valid"
    ></p-button>
  </div>
</form>